.fueltypes {
    padding: 75px 115px 0 115px;
}

.fueltypes table {
    width: 100%;
}

.fueltypes th,
.fueltypes td {
    padding: 10px;
    text-align: center;
    width: 300px;
}

.fueltypes th:first-child,
.fueltypes td:first-child{
    text-align: left;
}

.fueltypes th {

}

.iteraction-s{
    position: relative;
}

.icon-search-o{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}


.paginationContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.paginationText {
    font-size: 14px;
    margin-right: 20px;
}

.paginationBttns {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.paginationBttns li {
    margin-right: 10px;
}

.paginationBttns li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #703BF7;
    border-radius: 5px;
}

.paginationBttns li a:hover {
    background-color: #703BF7;
    color: #fff;
    cursor: pointer;
}
.form-input {
    padding: 0 10px 0 40px;
    height: 38px;
    border-radius: 8px;
    border: 1px solid #3F3F3F;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.iteraction{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.icon-search{
    position: absolute;
    left: 10px;
    top: 35%;
    transform: translateY(-50%);
}


.addButton {
    color: #fff;
    padding: 10px 24px;
    background: #703BF7;
    border: 1px solid #703BF7;
    border-radius: 10px;
}