.container {
    margin: 20px;
    padding: 20px;
}

.fuelstation {
    margin-top: 20px;
}

.fuelstation-details {
    padding: 20px;
    border: 1px solid #ccc;
}

.fuelstation-details h2 {
    font-size: 24px;
}

.fuelstation-details p {
    margin: 5px 0;
}

.fuelstation-details ul {
    list-style-type: none;
    padding-left: 0;
}

.fuelstation-details li {
    margin-bottom: 10px;
}

.fuelstation-details button {
    margin-right: 10px;
    padding: 5px 10px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn-delete {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #d53030;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn-fill {
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #35961d;
    color: #fff;
    border: none;
    cursor: pointer;
}

