.customers {
    padding: 75px 115px 0 115px;
}

.customer-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.customer-item:hover {
    background-color: #f0f0f0;
}

.user-bio{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.user-avatar{
    height: 64px;
    width: 64px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-bio_text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.customers table {
    width: 100%;
}

.customers th,
.customers td {
    padding: 10px;
}

.customers th:first-child,
.customers td:first-child{
    text-align: left;
}

.customers th {

}

.customers .user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.customers .user-bio {
    display: flex;
    align-items: center;
}

.customers .user-bio_text {
    margin-left: 10px;
}

.customers .icon-action {
    cursor: pointer;
}


.paginationContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.paginationText {
    font-size: 14px;
    margin-right: 20px;
}

.paginationBttns {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.paginationBttns li {
    margin-right: 10px;
}

.paginationBttns li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #703BF7;
    border-radius: 5px;
}

.paginationBttns li a:hover {
    background-color: #703BF7;
    color: #fff;
    cursor: pointer;
}

.form-input {
    padding: 0 10px 0 40px;
    width: 100%;
    height: 38px;
    border-radius: 8px;
    border: 1px solid #3F3F3F;
    display: flex;
    margin-bottom: 20px;
}

.iteraction{
    position: relative;
}

.icon-search{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

