.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
}

.reset-password {
    width: 400px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    background-color: #1e1e1e;
    color: #fff;
}

.reset-password h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.reset-password .form {
    display: flex;
    flex-direction: column;
}

.reset-password label {
    margin-bottom: 10px;
    font-size: 18px;
}

.reset-password input {
    height: 42px;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 0 15px;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
}

.reset-password input:focus {
    outline: none;
    border-color: #8B5CD1;
}

.send-code-btn, .reset-password button {
    height: 42px;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 16px;
    cursor: pointer;
}

.send-code-btn {
    background-color: #414141;
    color: #fff;
}


.back-to-auth > a {
    font-size: 16px;
    color: #8B5CD1;
    text-decoration: none;
    cursor: pointer;
}

.back-to-auth > a:hover {
    text-decoration: underline;
}


.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(18, 18, 18, 0.95);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

.modal p {
    margin-bottom: 20px;
    font-size: 18px;
}
