.header-container{
    color: #fff;
    background: linear-gradient(95.93deg, #262626 -26.82%, rgba(38, 38, 38, 0) 40.46%);
    border-bottom: 1px solid #262626;
    padding: 150px 162px 100px 162px;
}

.header-container > h1{
    font-weight: 600;
    font-size: 46px;
}


.header-container > p{
    font-weight: 500;
    font-size: 18px;
    color: #999999;
}

.text-container {
    color: #fff;
    padding: 85px 162px 0 162px;
}

.text-container > h2{
    font-weight: 600;
    font-size: 46px;
}

.text-container > p{
    font-weight: 500;
    font-size: 18px;
    color: #999999;
    margin-bottom: 80px;
}

.text-container > svg{
    position: relative;
    left: -25px;
    top:5px
}


.cards-subcontainer {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 30px;
    margin-bottom: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 50px;
    gap: 30px;
    border: 1px solid #262626;
    border-radius: 12px;
    width: 100%;
    max-width: 512px;
    height: auto;
}



.card-heading {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 15px;
    border-radius: 12px;
    color: #fff;
    flex-direction: column;
}


.card-heading > h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.card > p {
    font-weight: 500;
    font-size: 18px;
    color: #999999;
    margin-bottom: 20px;
    text-align: center;
}

.card-heading > svg {
    display: block;
    margin: 0 auto;
}

.bestsellers-container, .products-container {
    color: #fff;
    padding: 85px 162px 0 162px;
}

.bestsellers-container > svg, .products-container > svg {
    position: relative;
    left: -25px;
    top: 5px;
}

.bestsellers-container > h2, .products-container > h2 {
    font-weight: 600;
    font-size: 46px;
    margin-bottom: 80px;
}

.bestsellers-items, .products-items {
    display: flex;
    gap: 15px;
}


.item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: calc(33.33% - 30px);
    max-width: 516px;
    height: 360px;
    border: 1px solid #262626;
    border-radius: 12px;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.item:hover {
    transform: translateY(-5px);
}

.image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.infoContainer {
    display: flex;
    justify-content: space-between;
}


.name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.price {
    font-size: 16px;
    color: #666;
}

.type, .manufacturer {
    font-size: 14px;
    color: #888;
}

.container {
    display: flex;
    justify-content: space-between;
}
.products-container {
    color: #fff;
    padding: 85px 162px 0 162px;
    width: 100%;
    box-sizing: border-box;
}

.products-container h2 {
    font-weight: 600;
    font-size: 46px;
    margin-bottom: 80px;
}

.products-container svg {
    position: relative;
    left: -25px;
    top: 5px;
}

.products-items {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}

.sort {
    display: flex;
    gap:30px;
    margin-bottom: 55px;
}

.sort > p {
    font-weight: 500;
    font-size: 24px;
}

.sort > button {
    font-weight: 500;
    font-size: 18px;
}

.button-sort{
    display: flex;
    gap: 30px;
}

.paginationBttns {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 500;
}

.paginationBttns li {
    margin: 0 8px;
}

.previousBttn, .nextBttn {
    margin: 0 20px;
    cursor: pointer;
}

.paginationActive {
    font-weight: bold;
    color: #703BF7;
}

.paginationDisabled {
    opacity: 0.5;
    pointer-events: none;
}

@media screen and (min-width: 951px) and (max-width: 1440px) {
    .header-container{
        padding: 150px 200px 120px 80px;
    }
    .text-container{
        padding: 120px 80px 80px 80px;
    }
    .text-container > h2{
        font-size: 38px;
    }
    .card{
        width: 413px;
        height: 208px;
    }
    .card-heading > h3{
        font-size: 20px;
    }
    .card > p{
        font-size: 16px;
    }
    .card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 40px;
        border: 1px solid #262626;
        border-radius: 12px;
        width: 100%;
        max-width: 512px;
        height: 350px;
        overflow: hidden;
    }
    .bestsellers-container{
        padding: 0 80px 100px 80px;
    }
    .products-container{
        padding: 0 80px 100px 80px;
    }
    .bestsellers-container > h2{
        font-size: 38px;
    }
    .products-container >h2{
        font-size: 38px;
    }
}

@media screen and (max-width: 950px) {
    .header-container{
        padding: 50px 16px;
    }
    .header-container > h1{
        font-size: 28px;
        margin-bottom: 10px;
    }
    .header-container > p{
        font-size: 14px;
    }
    .text-container{
        padding: 80px 16px;
    }
    .text-container > svg{
        left: 0;
    }
    .text-container > h2{
        font-size: 28px;
        margin-bottom: 10px;
    }
    .text-container > p{
        font-size: 14px;
        margin-bottom: 40px;
    }
    .cards-subcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: auto;
        height: auto;
        gap: 16px;
        padding: 24px;
    }
    .card-heading{

    }
    .card-heading > h3{
        font-size: 18px;
    }
    .card > p{
        font-size: 14px;
    }
    .bestsellers-container{
        padding: 0 16px 80px 16px;
    }
    .bestsellers-container > svg{
        left: 0;
    }
    .bestsellers-container > h2{
        font-size: 28px;
        margin-bottom: 40px;
    }
    .bestsellers-container > p{
        font-size: 14px;
        margin-bottom: 40px;
    }
    .bestsellers-items{
        flex-direction: column
    }
    .products-container{
        padding: 0 16px 80px 16px;
    }
    .products-container > h2{
        font-size: 28px;
        margin-bottom: 40px;
    }
    .products-container > svg{
        left: 0;
    }
    .sort{
        flex-direction: column;
    }
    .sort > p {
        font-size: 18px;
    }
    .button-sort > button {
        font-size: 14px;
    }
    .button-sort {
        align-items: center;
        justify-content: space-between;
        gap:15px;
    }
    .sort {
        display: flex;
        gap:15px;
        margin-bottom: 55px;
    }
    .products-items{
        flex-direction: column;
    }
    .card-heading{
        padding: 0;
    }
}



