@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400;1,500;1,700&display=swap');
@import "reset.css";


*{
    font-family: "Urbanist",sans-serif;
    color: #fff;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #703BF7;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* styles.css */

/* Стили для контейнера уведомлений */
.toast-container-custom {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

/* Стили для уведомлений */
.toast-custom {
    font-family: "Urbanist", sans-serif;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8); /* Полупрозрачный черный цвет */
    border-radius: 8px; /* Закругленные углы */
    padding: 16px; /* Внутренний отступ */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень */
}

/* Стили для заголовка уведомлений */
.toast-custom .Toastify__toast-body {
    font-size: 16px;
    font-weight: bold;
}

/* Стили для текста уведомлений */
.toast-custom .Toastify__toast-content {
    font-size: 14px;
    margin-top: 8px; /* Отступ сверху */
}
